.rb-textarea-custom-main-container {
  width: 100%;

  & mat-form-field {
    width: 100%;
  }

  ::ng-deep mat-form-field {
    & .mat-mdc-form-field-hint-wrapper {
      padding: 0;

      & mat-hint:first-child {
        cursor: pointer;
      }
    }


  }
}
