<main class="manage-clinics-main-container">
  <rb-autocomplete-custom
    placeholder=""
    label="Seleccciona una clínica"
    [options]="registeredClinicsOptions"
    [showHint]="true"
    hintText="Selecciona una clínica de la lista para modificarla y/o eliminarla"
    [inputDisabled]="_clinicInputDisabled"
    (selectedValue)="_onClinicSelected($event)"
    (clearBtnClick)="_onInputClearSelection()"
    (textChange)="_onClinicNameChange($event)"
    #autocompleteCustomComponent
  >
  </rb-autocomplete-custom>

  <section class="add-clinic-container">
    <rb-add-clinic-custom
      [submitButtonDisabled]="submitNewClinicBtnDisabled"
      (onClinicDataChange)="_onNewClinicDataChange($event)"
      (onSubmitClinic)="_onSubmitNewClinic()"
      (onUpdateClinic)="_onUpdateClinic()"
      (onDeleteClinic)="_onDeleteClinic()"
      [updateDeleteForm]="_isUpdateDeleteForm"
      [clinicData]="newClinicData"
      #addClinicCustomComponent
    >
    </rb-add-clinic-custom>
  </section>

</main>
