.manage-clinics-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  overflow-y: scroll;
  height: 90vh;

  & .add-update-delete-container {
    margin-top: 1rem;
  }

  & mat-divider {
    margin-top: 2rem;
  }

  & .manage-clinics-toggle-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  & .add-clinic-container {
    margin-top: 1rem;
  }
}
