.manage-patients-main-container {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

.manage-patients-form-container {
  width: 100%;
  height: 100%;
}

.toggle-buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.search-form-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
}

.manage-patient-data-container {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

mat-divider {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
