<section class="rb-add-clinic-custom-main-container">

  <div class="add-clinic-custom-fields-container">
    <rb-input-custom
      label="Nombre*"
      (onChange)="_handleClinicValueChange($event, 'clinicName')"
      [maxLength]="100"
      [initialValue]="_clinicData.clinicName"
      id="clinicName"
      #name
    >
    </rb-input-custom>

    <rb-input-custom
      label="Dirección completa"
      (onChange)="_handleClinicValueChange($event, 'address.fullAddress')"
      [maxLength]="100"
      [initialValue]="_clinicData.address.fullAddress"
      #address
    >
    </rb-input-custom>

    <rb-input-custom
      label="Número de puerta"
      (onChange)="_handleClinicValueChange($event, 'address.number')"
      [maxLength]="4"
      [initialValue]="_clinicData.address.number"
      #number
    >
    </rb-input-custom>

    <rb-input-custom
      label="Datos adicionales"
      (onChange)="_handleClinicValueChange($event, 'address.additionalInfo')"
      [maxLength]="50"
      [initialValue]="_clinicData.address.additionalInfo"
      #additionalInfo
    >
    </rb-input-custom>

    <rb-input-custom
      label="Correo electrónico"
      (onChange)="_handleClinicValueChange($event, 'contactDetails.emailAddress')"
      [maxLength]="100"
      [initialValue]="_clinicData.contactDetails.emailAddress"
      #email
    >
    </rb-input-custom>

    <rb-input-custom
      label="Celular"
      (onChange)="_handleClinicValueChange($event, 'contactDetails.mobilePhoneNumber')"
      [maxLength]="40"
      [initialValue]="_clinicData.contactDetails.mobilePhoneNumber"
      #mobilePhone
    >
    </rb-input-custom>

    <rb-input-custom
      label="Teléfono"
      (onChange)="_handleClinicValueChange($event, 'contactDetails.phoneNumber')"
      [maxLength]="40"
      [initialValue]="_clinicData.contactDetails.phoneNumber"
      #phone
    >
    </rb-input-custom>

    <rb-input-custom
      label="Sitio web"
      (onChange)="_handleClinicValueChange($event, 'contactDetails.website')"
      [maxLength]="100"
      [initialValue]="_clinicData.contactDetails.website"
      #website
    >
    </rb-input-custom>
  </div>


  <div class="submit-button-container"  *ngIf="!updateDeleteForm">
    <button
      (click)="_onSubmitClinicButtonClick()"
      mat-raised-button
      [disabled]="submitButtonDisabled"
      color="primary"
      id="submitButton"
    >
      Agregar
    </button>
  </div>

  <div class="update-delete-buttons-container" *ngIf="updateDeleteForm">
    <button
      (click)="_onUpdateClinicButtonClick()"
      mat-raised-button
      [disabled]="submitButtonDisabled"
      color="primary"
      id="updateButton"
    >
      Modificar
    </button>

    <button
      (click)="_onDeleteButtonClick()"
      mat-raised-button
      color="warn"
      id="deleteButton"
    >
      Eliminar
    </button>
  </div>
</section>
